<!DOCTYPE html>
html(lang="en")
    head    
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/error.css")
    body
        .error
            h1.error-title #{error.name}
            .error-description
                p #{error.message}