extends ../layout.pug

block styles
    each style in styles
        link(rel="stylesheet", href='' + style)
block scripts
    script.
        window.assets = {
            data: !{JSON.stringify(data)},
        }
    each script in scripts
        script(src='' + script)

block content
    div#root !{markup}

